
*{
	
	transition: width 2s, height 2s, transform 2s;
	 
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#body {
	background-color: #ECF0F1;
}
#fade1 { /*--fade in effect for the page--*/
	opacity:0; 
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;-webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
	
}


#main  {
	background: url(../images/image1.jpg) no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 650px;
	
	display: inline-block;
	transition: all 1000ms ease;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#main:hover {
	transform: scale(0.95);
}
/*--nav bar beginning--*/
#nav {
	background: transparent;
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	height: 30px;
	line-height: 90px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size: 22px;
	opacity: 1.0;
	alpha: filter (opacity=20);
	
	
} 

#nav ul {
	float: right;
	
}
#nav ul li {
	list-style-type: none;
	display: inline-block;
}

#nav ul li a {
	padding: 10px;
	text-decoration: none;
	color: white;
}

#nav ul li a:hover{
	color: #565352;
}
/*--end of nav bar--*/

/*--footer--*/
#footer {
	width:1320px;
	height:258px;
	padding-top: 40px;
	margin: 0px auto;
	background-image:url('../images/footerbackground.jpg');
}

#social h3 { /*--footer heading --*/
	
	top: 45px;
	padding-left: 80px;
	color: #636B70;
}

#social hr { /*--horizontal line after heading--*/
	width: 200px; 
	margin-left: 53px;
	align: center;
	margin-top: 30px;
	border-width: 1px;
	border-color: black;
	border-style: inset;
	display: block;
	border: 0;
	height:12px;
	box-shadow: inset 0 12px 12px -12px #636B70;
}

#socialIcons img { /*--social icons--*/
	width: 40px;
	height: 40px;
	cell-padding: 0.5px;
	margin-top: 40px;
	padding-left: 10px;
	font-size: 0;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	
}

#socialIcons img:hover{ /*--animations for social icons--*/
        
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

#socialIcons {
	width: 340px;
} 

/*--End of footer--*/		 



#buttons { //after the main buttons
	width: 1320px;
	height: 42px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;	
}

.button1 {
	border-radius:4px;
	background-color: #85C1E9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	float: left;
	height: 42px;
	width: 660px;
	transition: all 0.5s;
	cursor: pointer;
	flex-grow: 1;
	min-width: 25%;
	
	
}

.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button1 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
	border-radius:4px;
	background-color: #85C1E9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	float:left;
	width: 660px;
	height: 42px;
	transition: all 0.5s;
	cursor: pointer;
	flex-grow: 1;
	min-width: 25%;
	
}

.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button2 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.thivya { 
	margin-left: 250px;
	margin-top:170px;
	font-size: 20px;
	font-weight: bold;
	padding: 25px 25px;
	display: block;
	background-color: #A93226;
	border: 1px solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in out;
}

.thivya:hover{ 
	background-color: #FFFFFF;
	color: #A93226;
	border-color: #A93226;
}

@media screen and (max-width:1319px) { /*--for pc's--*/
	#main {
		width: 100%; 
	}
	#button1 {
		width: 70%;
	}
	#button2 {
		width: 30%;
	}
	#footer {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) { /*--for tablets--*/
	#main {
		width: 100%;
	} 
	#nav {
		width: 100%;
	}
	#buttons {
		width:100%;
	}
	#button1 {
		width: 50%;
	}
	#button2 {
		width: 50%;
	}
	#social {
		width: 100%;
	}
	.thivya {
		font-size: 0.90em;
		margin: 0px auto;
		margin-top:200px;
		padding: 20px 20px;
		max-width:100%;
	}
}
	
@media screen and (max-width: 580px) { /*--for mobile phones--*/
	#main {
		width: 580px;
	} 
	#nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 25px;
		text-align: left;
	}
	#buttons {
		width:580px;
	}
	#button1 {
		width: 100%;
	}
	#button2 {
		width: 100%;
	}
	#social {
		width: 100%;
	}	
	.thivya {
		font-size: 0.875em;
		margin: 0px auto;
		margin-top:200px;
		padding: 15px 15px;
		min-width:60px;
		max-width:320px;
	}
	#logo {
		position: fixed;
		max-width: 100%;
		height: auto;
	}
}
#logo img{
	width: 280px;
	height: 100px;
	background: transparent;
	background-color: transparent;
	padding: 4px;
	float: left;
`	}		


}
